body {
    font-family: Arial;
    text-align: center;
    margin-top: 40px;
}

input,
select {
    padding: 8px;
    font-size: 16px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}